<!-- <!DOCTYPE html>
<html>
<head>
    <title>View All Data</title>
</head>
<body>
    <h1>View All Data</h1>

    <h2>All Personal Info</h2>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>ID Number</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Umur</th>
                <th>Tanggal Lahir</th>
            </tr>
        </thead>
        <tbody>
            {% for personal_info in all_personal_info %}
                <tr>
                    <td>{{ personal_info.Full_Name }}</td>
                    <td>{{ personal_info.Address }}</td>
                    <td>{{ personal_info.ID_Number }}</td>
                    <td>{{ personal_info.Phone }}</td>
                    <td>{{ personal_info.Email }}</td>
                    <td>{{ personal_info.umur }}</td>
                    <td>{{ personal_info.tanggal_lahir }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>All Medical Info</h2>
    <table>
        <thead>
            <tr>
                <th>Job Information</th>
                <th>Informasi Medis File</th>
            </tr>
        </thead>
        <tbody>
            {% for medical_info in all_medical_info %}
                <tr>
                    <td>{{ medical_info.Job_Information }}</td>
                    <td>{{ medical_info.informasi_medis_file }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>All Biometric Data</h2>
    <table>
        <thead>
            <tr>
                <th>Sidik Jari Image</th>
            </tr>
        </thead>
        <tbody>
            {% for biometric_data in all_biometric_data %}
                <tr>
                    <td>{{ biometric_data.sidik_jari_image }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->


{% extends 'base.html' %}

{% block content %}
  <h2>Request Data</h2>
  <form method="post" action="">
    {% csrf_token %}
    <button type="submit">Request Data</button>
  </form>
{% endblock %}
